{% extends "base.html.twig" %}


{% block title %}
{{ post.title }}
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
<section class="titleAllWidth">
    <img src="/blogphp/public/img/dashboard.png" alt="image de fond">
    <div class="gradient" id="smallGradient">
        <h1>{{ user.pseudo }}</h1>
        <img src="/blogphp/public/img/avatars/avatar{{ user.avatarNumber }}.png" alt="l'avatar choisi">
    </div>
</section>

<div class="maincontent">
    <section class="divForForm marginBot50">
        <h2>Changer d'avatar</h2>
        <p class="textCenter">Sélectionnez l'un des avatars ci-dessous pour vous représenter</p>
        <form action="changer-son-avatar" method="post">
            <p class="textCenter">
                <input type="radio" id="avatar1" name="avatarNumber" value="1" class="checkbox"><label for="avatar1" class="marginRight"><img src="/blogphp/public/img/avatars/avatar1.png" alt="terre"></label>
                <input type="radio" id="avatar2" name="avatarNumber" value="2" class="checkbox"><label for="avatar2" class="marginRight"><img src="/blogphp/public/img/avatars/avatar2.png" alt="smiley"></label>
                <input type="radio" id="avatar3" name="avatarNumber" value="3" class="checkbox"><label for="avatar3" class="marginRight"><img src="/blogphp/public/img/avatars/avatar3.png" alt="vinyle"></label>
                <input type="radio" id="avatar4" name="avatarNumber" value="4" class="checkbox"><label for="avatar4" class="marginRight"><img src="/blogphp/public/img/avatars/avatar4.png" alt="personnage"></label>
                <input type="radio" id="avatar5" name="avatarNumber" value="5" class="checkbox"><label for="avatar5"><img src="/blogphp/public/img/avatars/avatar5.png" alt="épée"></label>
            </p>
            <input type="submit" value="Changer !" name="avatarChange" class="buttonRed">
        </form>
    </section>

    <section class="divForForm">
        <h2>Changer mon mot de passe</h2>
        <p class="textCenter">Cliquez sur le bouton pour changer votre mot de passe.</p>
        <form action="mot-de-passe-oublie" method="post">
            <input type="hidden" value="{{ user.email }}" name="email">
            <input type="submit" name="emailResetPassword" value="Changer mon mot de passe" class="buttonRed">
        </form>
    </section>

    <section>
        <h2>Mes commentaires postés</h2>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Nom du post</th>
                    <th>Mon commentaire</th>
                    <th>Date</th>
                    <th>Accepté</th>
                </tr>
            </thead>

            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.title }}</td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.date }}</td>
                        {% if comment.isValidated %}
                        <td>Commentaire validé</td>
                        {% else %}
                        <td>Commentaire en traitement</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </section>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').DataTable( {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        } );
    } );
</script>
{% endblock %}