{% extends "base.html.twig" %}


{% block title %}
Liste des Posts
{% endblock %}

{% block body %}
<section class="titleAllWidth">
    <img src="/blogphp/public/img/listposts.jpg" alt="image de fond">
    <div class="gradient">
        <h1>Liste des articles</h1>
    </div>
</section>

<div class="maincontent">

    {% for post in listPosts %}
        <section class="postInList">
            <h2>{{ post.title }}</h2>
            <p class="textCenter">
                {% if post.dateLastUpdate %}
                    {{ post.dateLastUpdate }}
                {% else %}
                    {{ post.datePublication }}
                {% endif %}
            </p>
            {{ post.heading | raw }}
            <a href="post/{{ post.slug }}"><p class="buttonRed">Lire ce post</p></a>
        </section>
    {% endfor %}

</div>

{% endblock %}