{% extends "base.html.twig" %}

{% block metatitle %}
{{ post.title }} | Blog de Floryss Rubechi
{% endblock %}

{% block metadescription %}

{% endblock %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block body %}
<section class="titleAllWidth">
    <img src="/blogphp/{{ picture }}" alt="image du post">
    <div class="gradient" id="tallGradient">
        <h1>{{ post.title }}</h1>
        <p>
        {% if post.dateLastUpdate %}
            {{ post.dateLastUpdate }}
        {% else %}
            {{ post.datePublication }}
        {% endif %}
        </p>
        <p>Auteur : {{ post.author }}</p>
    </div>
</section>

<div class="maincontent">
    <section>
        <div class="boldInThisDiv">{{ post.heading | raw }}</div>
    </section>
    <section>
        {{ post.content | raw }}
    </section>
    
    <section class="divForForm marginBot50">
        {% if session.pseudo %}
            <h2>Laissez un commentaire !</h2>
            <p class="textCenter">Votre commentaire sera soumis à validation.</p>
            <form action="/blogphp/nouveau-commentaire" method="post">
                <p><label for="content">Commentaire * </label><textarea id="content" name="content" required></textarea></p>
                <input type="hidden" value="{{ post.id }}" name="idPost">
                <input type="submit" value="Envoyer le commentaire" name="newComment" class="buttonRed">
            </form>
        {% else %}
            <h2 class="marginBot">Connectez ou inscrivez-vous pour laisser un commentaire</h2>
            <a href="/blogphp/connexion"><p class="buttonRed">Se connecter</p></a>
            <a href="/blogphp/inscription"><p class="buttonRed">S'inscrire</p></a>
        {% endif %}
    </section>

    <section>
        <h2>Commentaires publiés</h2>
        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <img src="/blogphp/public/img/avatars/avatar{{ comment.avatarNumber }}.png" alt="avatar">
                    <h3 class="textLeft">{{ comment.pseudo }},<br class="forSmartphone"> {{ comment.date }}</h3>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="textCenter">Aucun commentaire publié.</p>
        {% endif %}
    </section>
</div>

{% endblock %}