{% extends "base.html.twig" %}

{% block metatitle %}
Administrer les articles | Blog de Floryss Rubechi
{% endblock %}

{% block metadescription %}

{% endblock %}

{% block title %}
Gestion des posts
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}



{% block body %}
<div class="maincontent xlargecontainer">
    <section>
        <h1>Liste des posts publiés</h1>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Titre du post</th>
                    <th>Dernière modification</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>

            <tbody>
                {% for post in allPosts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.dateLastUpdate }}</td>
                        <td><a href="modifier-post?slug={{ post.slug }}">Modifier</a></td>
                        <td><a href="supprimer-post?slug={{ post.slug }}&token={{ session.token }}" onclick="return confirm('Etes vous sûr de supprimer ce post ?')">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </section>
</div>

{% endblock %}



{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').DataTable( {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        } );
    } );
</script>
{% endblock %}