{% extends "base.html.twig" %}

{% block metatitle %}
Administrer les commentaires | Blog de Floryss Rubechi
{% endblock %}

{% block metadescription %}
Partie administration : voir les commentaires validés et non-validés, les valider et les invalider, accéder à leur page individuelle.
{% endblock %}

{% block title %}
Gestion des commentaires
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}



{% block body %}
<div class="maincontent xlargecontainer">
    <section>
        <h1>Liste des commentaires</h1>

        <h2>Liste des commentaires non-validés</h2>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Commentaire</th>
                    <th class="notForSmartphone">Date</th>
                    <th>Voir le commentaire</th>
                    <th>Valider</th>
                </tr>
            </thead>

            <tbody>
                {% for comment in commentsNotValidated %}
                    <tr>
                        <td>{{ comment.pseudo }}</td>
                        <td>{{ comment.content | u.truncate(43, "...") }}</td>
                        <td class="notForSmartphone">{{ comment.date }}</td>
                        <td class="textCenter">
                            <a href="/blogphp/consulter-commentaire?idComment={{ comment.id }}">
                                <img src="/blogphp/public/img/icons/see.png" alt="lire" class="adminIcons">
                            </a>
                        </td>
                        <td class="textCenter">
                            <a href="valider-commentaire?idComment={{ comment.id }}" onclick="return confirm('Etes vous sûr de valider ce commentaire ?')">
                                <img src="/blogphp/public/img/icons/valid.png" alt="valider" class="adminIcons">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </section>

    <section>
        <h2>Liste des commentaires validés</h2>

        <table id="myTable2">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Commentaire</th>
                    <th>Date</th>
                    <th>Voir le commentaire</th>
                    <th>Invalider</th>
                </tr>
            </thead>

            <tbody>
                {% for comment in commentsValidated %}
                    <tr>
                        <td>{{ comment.pseudo }}</td>
                        <td>{{ comment.content }}</td>
                        <td class="notForSmartphone">{{ comment.date }}</td>
                        <td class="textCenter">
                            <a href="/blogphp/consulter-commentaire?idComment={{ comment.id }}">
                                <img src="/blogphp/public/img/icons/see.png" alt="lire" class="adminIcons">
                            </a>
                        </td>
                        <td class="textCenter">
                            <a href="invalider-commentaire?idComment={{ comment.id }}" onclick="return confirm('Etes vous sûr d invalider ce commentaire ?')">
                                <img src="/blogphp/public/img/icons/invalid.png" alt="invalider" class="adminIcons">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </section>
</div>

{% endblock %}



{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').DataTable( {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        } );
    } );
    $(document).ready( function () {
        $('#myTable2').DataTable( {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        } );
    } );
</script>
{% endblock %}