{% extends "base.html.twig" %}

{% block metatitle %}
Editer un article | Blog de Floryss Rubechi
{% endblock %}

{% block metadescription %}

{% endblock %}

{% block title %}
Modifier un post
{% endblock %}

{% block css %}
    <script src="/blogphp/vendor/tinymce/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#heading'
        });
        tinymce.init({
            selector: '#content'
        });
    </script>
{% endblock %}

{% block body %}
<div class="maincontent">
    <section class="divForForm">
        <h1>Modifier ce post</h1>
        <form action="mise-a-jour-post" method="post" enctype="multipart/form-data">
            <p><label for="title">Titre *</label><input type="text" name="title" id="title" value="{{ post.title }}" required></p>
            <p>
                <label for="heading" class="miniMarginBot">Chapô *</label>
                <textarea name="heading" id="heading" required>{{ post.heading }}</textarea>
            </p>
            <p><label for="content" class="miniMarginBot">Contenu de l'article *</label><textarea name="content" id="content" required>{{ post.content }}</textarea></p>

            <img src="{{ picture }}" alt="image actuellement associée à ce post" id="imgEditPost">
            <p>Image actuelle</p>
            <p>
                <label for="picture">Changer l'image du post (Formats acceptés : .jpg, .png et .gif, taille max 3Mo)</label>
                <br>
                <input type="file" name="picture" id="picture">
            </p>

            <p class="clear marginTop60"><label for="author">Auteur *</label><input type="text" name="author" id="author" value="{{ post.author }}" required></p>
            <input type="hidden" name="id" value="{{ post.id }}">
            <input type="hidden" name="token" value="{{ session.token }}">
            <input type="submit" value="Modifier le post" name="editPost" class="buttonRed">
        </form>
    </section>
</div>

{% endblock %}
