{% extends "base.html.twig" %}

{% block title %}
Modifier un post
{% endblock %}

{% block css %}
    <script src="/blogphp/vendor/tinymce/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#heading'
        });
        tinymce.init({
            selector: '#content'
        });
    </script>
{% endblock %}

{% block body %}

<h1>Modifier ce post</h1>
<form action="mise-a-jour-post" method="post" enctype="multipart/form-data">
    <label for="title">Titre</label><input type="text" name="title" id="title" value="{{ post.title }}" required>
	<label for="heading">Chapô</label><textarea name="heading" id="heading" required>{{ post.heading }}</textarea>
    <label for="content">Contenu de l'article</label><textarea name="content" id="content" required>{{ post.content }}</textarea>
    <p>Image actuelle : <img src="{{ picture }}" alt="image actuellement associée à ce post"></p>
    <label for="picture">Changer l'image du post (Formats acceptés : .jpg, .png et .gif, taille max 3Mo)</label><input type="file" name="picture" id="picture">
    <label for="author">Auteur</label><input type="text" name="author" id="author" value="{{ post.author }}" required>
    <input type="hidden" name="id" value="{{ post.id }}">
    <input type="hidden" name="token" value="{{ session.token }}">
	<input type="submit" value="Modifier le post" name="editPost">
</form>

{% endblock %}
