{% extends "base.html.twig" %}

{% block title %}
Liste des messages reçus
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}



{% block body %}
<div class="maincontent">
    <section class="notForSmartphone notForTablet">
        <h1>Liste des messages</h1>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Nom de l'envoyaeur</th>
                    <th>Email de l'envoyeur</th>
                    <th>Titre</th>
                    <th>Message complet</th>
                    <th>Statut actuel</th>
                    <th>Changer de statut</th>
                    <th>Supprimer le message</th>
                </tr>
            </thead>

            <tbody>
                {% for message in listMessages %}
                    <tr>
                        <td>{{ message.firstName }} {{ message.lastName }}</td>
                        <td>{{ message.email }}</td>
                        <td>{{ message.title }}</td>
                        <td>{{ message.content }}</td>
                        {% if message.isProcessed %}
                            <td style="color: green;">Message traité</td>
                            <td><a href="message-changement-statut?idMessage={{ message.id }}&isProcessed=0&token={{ token }}" onclick="return confirm('Etes vous sûr de passer ce message en statut non traité ?')">Passer en non-traité</a></td>
                        {% else %}
                            <td style="color: red;">Message non traité</td>
                            <td><a href="message-changement-statut?idMessage={{ message.id }}&isProcessed=1e&token={{ token }}" onclick="return confirm('Etes vous sûr de passer ce message en statut traité ?')">Passer en traité</a></td>
                        {% endif %}
                        <td><a href="supprimer-message?idMessage={{ message.id }}&token={{ token }}" onclick="return confirm('Etes vous sûr de supprimer ce message ?')">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="forSmartphone forTablet">
        <h1>Liste des messages</h1>
        <p class="textCenter">La liste des messages reçus n'est pas accessible sur smartphone ou tablette.</p>
        <p class="textCenter">Veuillez passer en "version pour ordinateur" ou changer de support.</p>
    </section>
</div>
{% endblock %}



{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').DataTable( {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        } );
    } );
    $(document).ready( function () {
        $('#myTable2').DataTable( {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        } );
    } );
</script>
{% endblock %}