{% extends "base.html.twig" %}

{% block metatitle %}
Administrer les messages | Blog de Floryss Rubechi
{% endblock %}

{% block metadescription %}
Partie administration : liste des messages reçus, accès aux pages individuelles des messages, noter les messages commme traités ou inversement, les supprimer.
{% endblock %}

{% block title %}
Liste des messages reçus
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}



{% block body %}
<div class="maincontent xlargecontainer">
    <section>
        <h1>Liste des messages</h1>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Nom de l'envoyeur</th>
                    <th class="notForSmartphone notForTablet">Email de l'envoyeur</th>
                    <th>Titre</th>
                    <th>Message</th>
                    <th>Statut actuel</th>
                    <th class="notForSmartphone notForTablet">Changer de statut</th>
                    <th>Lire le message</th>
                    <th class="notForSmartphone notForTablet">Supprimer le message</th>
                </tr>
            </thead>

            <tbody>
                {% for message in listMessages %}
                    <tr>
                        <td>{{ message.firstName }} {{ message.lastName }}</td>
                        <td class="notForSmartphone notForTablet">{{ message.email }}</td>
                        <td>{{ message.title }}</td>
                        <td>{{ message.content | u.truncate(43, "...") }}</td>
                        {% if message.isProcessed %}
                            <td class="textGreen">Message traité</td>
                            <td class="notForSmartphone notForTablet"><a href="message-changement-statut?idMessage={{ message.id }}&isProcessed=0&token={{ token }}" onclick="return confirm('Etes vous sûr de passer ce message en statut non traité ?')">Passer en non-traité</a></td>
                        {% else %}
                            <td class="textRed">Message non traité</td>
                            <td class="notForSmartphone notForTablet"><a href="message-changement-statut?idMessage={{ message.id }}&isProcessed=1e&token={{ token }}" onclick="return confirm('Etes vous sûr de passer ce message en statut traité ?')">Passer en traité</a></td>
                        {% endif %}
                        <td><a href="/blogphp/consulter-message?idMessage={{ message.id }}&token={{ token }}">Lire</a></td>
                        <td class="notForSmartphone notForTablet"><a href="supprimer-message?idMessage={{ message.id }}&token={{ token }}" onclick="return confirm('Etes vous sûr de supprimer ce message ?')">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}



{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').DataTable( {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        } );
    } );
    $(document).ready( function () {
        $('#myTable2').DataTable( {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        } );
    } );
</script>
{% endblock %}